.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 223px;
  overflow: hidden;
}
.banner_title {
  color: $color-primary;
  font-size: 48px;
  z-index: 1;
}

.img_banner {
  position: absolute;
  width: 100%;
}
