.collapse {
    display: flex;
flex-direction: column;

}
    
.collapse_title {
        display:flex;
        align-items: center;
        padding: 7px 18px;
        background-color: $color-secondary;
        border-radius: 5px;
        justify-content: space-between;
        
 
        h3 {
          font-size:24px;
          color: $color-primary;
          margin: 0;
        }

        p {
          color: $color-secondary;
          

          .collapse_icon {
            color: $color-primary;
            cursor: pointer;
            
          }
        }
      }

.collapse_true {
        background-color: $color-tertiary;
        width: 100%;  
        border-radius: 5px; 

  
        p {
          font-size:24px;
          color: $color-secondary;
          margin: 0 auto;
          padding: 0.8em;
          width: 90%;
        }
      }

    
  