.header {
    display: flex;
    align-items: center;  
    justify-content: space-between;
    height:68px;
}

 .menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 57px;
    color: $color-secondary;
 }

 


